@import 'styles/mixins';

.main {
  padding-top: 55px;
  .element {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 6px;
    column-gap: 22px;
    .list {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      background-color: var(--base-white);
      border-radius: 7px;
      border: 1px solid #e9e9e9;
      .item {
        @include align-items-center;
        flex-direction: column;
        padding: 10px 0 18px;
        border-right: 1px solid #e9e9e9;
        &:last-child {
          border-right: none;
        }
        p {
          &:first-child {
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
            color: #7d8890;
            margin-bottom: 3px;
          }
          &:last-child {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
          }
        }
      }
    }
  }
  .grid {
    display: grid;
    column-gap: 22px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    .img {
      height: 360px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header {
        .title {
          font-weight: 600;
          font-size: 25px;
          line-height: 38px;
        }
        .desc {
          height: 131px;
          padding: 7px 40px 22px 11px;
          background-color: var(--base-white);
          color: #7d8890;
          border-radius: 7px;
          margin-top: 4px;
          overflow: auto;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .contents {
        border-radius: 7px;
        margin-top: 10px;
        overflow: hidden;
        .contentHeader {
          background: var(--secondary-color);
          border: 1px solid #e9e9e9;
          padding: 10px 16px;
          @include align-items-center;
          justify-content: space-between;
          p {
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #ffffff;
          }
        }
        .body {
          padding: 6px 16px;
          @include align-items-center;
          justify-content: space-between;
          background-color: var(--base-white);
          p {
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: #1f1f1f;
          }
          .leftElement {
            @include align-items-center;
            column-gap: 6px;
            p {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
      .footer {
        @include align-items-center;
        justify-content: space-between;
        button {
          width: 200px;
        }
        .price {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p {
            &:first-child {
              font-weight: 700;
              font-size: 22px;
              line-height: 33px;
              color: #151c52;
              @include align-items-center;
              column-gap: 7px;
            }
            &:last-child {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: #7d8890;
            }
          }
        }
      }
    }
  }
}
