.elements {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 12px;
}

.txHash {
  label {
    display: block;
  }
  a {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    p {
      text-decoration: underline;
    }
  }
}
