.main {
  display: flex;
  align-items: center;
  background: #1d1d41;

  .body {
    height: calc(100vh - 40px);
    width: calc(100% - 310px);
    overflow: auto;
    border-radius: 10px;
    background: #141332;
  }
}
