@import 'styles/unit';

.filesBox {
  border: 1px solid #e9e9e9;
  border-radius: 7px;
  background-color: #fff;
  height: 212px;
  .header {
    height: 46px;
    padding: 13px 0 10px;
    position: relative;
    p {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
    }
    .close {
      position: absolute;
      right: 15px;
      display: flex;
      cursor: pointer;
      top: calc(50% - 10px);
      svg {
        color: #d9d9d9;
      }
    }
  }
  .body {
    height: calc(100% - 46px);
    overflow: auto;
    .item {
      padding: 7px 15px;
      @include align-items-center;
      column-gap: 13px;
      .icon {
        width: 27px;
        height: 27px;
        @include element-center;
        background: #f3f3f3;
        border-radius: 50%;
      }
      .name {
        font-size: 14px;
        line-height: 21px;
        width: calc(100% - 27px - 25px);
      }
      .delete {
        display: flex;
        width: 25px;
        @include element-center;
        cursor: pointer;
        svg {
          color: #c70030;
        }
      }
    }
  }
}
