@import 'styles/unit';

.header {
  background-image: url('/assets/images/profile_header_bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
  width: 100%;
  padding: 28px 35px;
  @include align-items-center;
  gap: 16px;

  .logoContainer {
    width: 71.193px;
    height: 71.193px;
    background-color: rgba(255, 255, 255, 0.22);
    stroke-width: 1px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .walletTxt {
    h4 {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 150%;
      margin-bottom: 6px;
    }
    div {
      display: flex;
      align-items: center;
      gap: 16px;

      p {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
      }

      svg {
        cursor: pointer;
      }
    }
  }
}
