@import 'styles/unit';

.sidebar {
  width: 290px;
  padding: 30px;
  height: 100vh;
  background: transparent;
  overflow: auto;
  color: var(--base-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 53px;

    a svg {
      width: 128px;
      height: 38px;
    }
  }
  .body {
    nav {
      ul {
        li {
          list-style-type: none;
          a {
            width: 230px;
            height: 55px;
            @include align-items-center;
            padding: 17px 13px;
            column-gap: 16px;
            position: relative;
            transition: 0.4s ease-in-out all;
            color: var(--base-white);
            font-size: 15px;
            font-weight: 600;
            line-height: 150%;
            &:hover,
            &.active {
              border-radius: 10px;
              background: rgba(255, 255, 255, 0.15);
              color: var(--main);
              // svg {
              //   path {
              //     fill: #27e6d6;
              //   }
              // }
              svg {
                path:first-of-type {
                  fill: #27e6d6;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 0 12px 5px;
    .dropFile {
      height: 55px;
      @include justify-content-center;
      color: #ffffff;
      background: #0e42e5;
      box-shadow: 5px 6px 17px rgba(0, 0, 0, 0.2);
      margin-bottom: 27px;
      padding: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      position: relative;
      .icon {
        border: 1px solid #f1f3ff;
        box-shadow: 5px 6px 17px rgba(0, 0, 0, 0.2);
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(50% - 15px);
        right: 20px;
        background: #ffffff;
        border-radius: 50%;
        @include element-center;
        svg {
          fill: #0e42e5;
        }
      }
    }
    .logout {
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      @include align-items-center;
      justify-content: space-between;
      color: #f1f3ff;
      cursor: pointer;
    }
  }
}
