.form {
  width: 100%;
  padding: 35px;

  .warning {
    font-size: 14px;
    line-height: 21px;
    color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    column-gap: 10px;
    color: #fff;
    svg {
      color: #f5ba2f;
    }
    a {
      font-weight: 600;
      color: var(--main);
    }
  }
  ul {
    list-style: none;
    margin: 50px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    li {
      position: relative;
      z-index: 2;
      width: 546px;
      transition: all 0.4s ease-in-out;
      .content {
        padding: 12px 21px;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        border-radius: 7px;
        border: 1px solid #4d5377;
        background: #1d1d41;
        cursor: pointer;
        .info {
          display: flex;
          align-items: center;
          img {
            transition: all 0.4s ease-in-out;
          }
          p {
            color: var(--base-white);
            font-size: 15px;
            font-weight: 700;
            line-height: normal;
            margin-left: 30px;
          }
        }
        span {
          color: #3bfec4;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
  .formArea {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .wallets {
      display: flex;
      flex-direction: column;
    }

    .metamask {
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        width: 25.606px;
        height: 25.606px;
        max-width: 25.606px;
        max-height: 25.606px;
        object-fit: contain;
      }
      svg {
        cursor: pointer;
      }
      button {
        border-radius: 10px;
        background: #2e303c;
        padding: 16px 42px;
        border: none;
        color: var(--base-white);
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}
