.table {
  // background-color: #fff;
  // border: 1px solid #e9e9e9;
  &.withBorderRadiusBottom {
    border-radius: 0 0 10px 10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background: transparent;
      // border-bottom: 1px solid #e9e9e9;
      tr {
        height: 50px;
        th {
          text-align: left;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          padding: 12px 23px;
        }
      }
    }
    tbody {
      box-shadow: 5px 4px 19px rgba(167, 167, 167, 0.15);

      background-color: #fff;
      tr {
        height: 50px;
        border-bottom: 1px solid #e9e9e9;
        &:last-child {
          border-bottom: none;
        }
        td {
          font-size: 14px;
          line-height: 21px;
          padding: 12px 23px;
        }
      }
    }
  }
}
