.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  padding: 16px 13px;
  background: #141332;
  p {
    color: var(--base-white);
    font-size: 15px;
    font-weight: 500;
  }
  svg {
    cursor: pointer;
  }
}
