.mainContainer {
  z-index: 2;
  position: relative;
  padding: 70px 70px 370px 70px;

  .smallDesc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 58px;

    .titleSection {
      width: 424px;
      height: 160px;

      .oceanDriveTxt {
        color: var(--base-white);
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
      }

      .infuraTxt {
        font-size: 70px;
        font-weight: 300;
        line-height: 80px;
        color: var(--main);
        font-style: normal;
      }
    }

    .description {
      color: var(--base-white);
      font-size: 14px;
      font-weight: 275;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }

    .goToBtn {
      width: 170px;
      height: 45px;
      border-radius: 8px;
      background: #16d9c9;
      color: var(--base-white);
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .statsDiv {
    padding-left: 85px;
    padding-right: 158px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 271.296px;
    border-radius: 12px 0px 0px 12px;
    background: #2e1cc8;
    opacity: 0.9;
    margin-bottom: 160px;

    .titleNS {
      color: var(--base-white);
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
    }

    // .statBoxesHolder {
    //   display: flex;
    //   gap: 45px;
    //   align-items: center;
    // }

    .stats {
      .statTitle {
        color: var(--base-white);
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 13px;
      }

      .statBox {
        width: 212.281px;
        height: 113.832px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 255, 255, 0.08) 21.35%,
          rgba(255, 255, 255, 0.13) 100%
        );
        position: relative;

        .statNum {
          position: absolute;
          top: 25px;
          left: 17px;
          color: var(--base-white);
          font-size: 35px;
          font-weight: 500;
        }

        .statCap {
          position: absolute;
          bottom: 4px;
          right: 12px;
          color: var(--base-white);
          text-align: right;
          font-size: 15px;
          font-weight: 500;
          line-height: 30px;
        }
      }
    }
  }

  .featuresContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 202px;

    .featureCol {
      display: flex;
      flex-direction: column;
      gap: 65px;
      height: 262.29px;

      .featureTitle {
        color: var(--base-white);
        text-align: right;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .featureText {
        color: var(--base-white);
        text-align: right;
        font-size: 14px;
        font-weight: 275;
      }

      &:nth-of-type(3) {
        gap: 128.2px;
        .featureTitle {
          text-align: left;
        }
        .featureText {
          text-align: left;
        }
      }
    }
  }

  .whatsNewContainer {
    h5 {
      color: var(--base-white);
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 75px;
    }

    .itemsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 66px;

      .arrow {
        cursor: pointer;
      }

      .items {
        display: flex;
        justify-content: space-around;
        gap: 25px;

        .item {
          width: 287.998px;
          height: 435px;
          border-radius: 12px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background: #030221;
          cursor: pointer;

          img {
            width: 100%;
            height: auto;
          }

          .titleDesc {
            padding: 20px;

            h6 {
              color: var(--base-white);
              font-size: 14px;
              font-weight: 700;
              margin-bottom: 9px;
            }

            p {
              color: var(--base-white);
              font-size: 12px;
              font-weight: 400;
              line-height: 17px;
              margin-bottom: 12px;
            }

            .nextBtn {
              display: flex;
              justify-content: flex-end;
              img {
                width: 21.35px;
                height: 23px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
